ion-header {
  ion-toolbar {
    border-radius: 0px 0px 20px 20px;
    --background: var(--ion-color-yellow);
  }
}
ion-content {
  --padding-top: 20px;
  .offer-section {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 10px;
    margin: 20px 0px 25px 0px;
    .discount-text {
      width: 50px;
      background-color: var(--ion-color-yellow);

      border-radius: 10px 0px 0px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      h6 {
        font-family: 'NotoSans-Medium';
        color: var(--ion-color-white);
        transform: rotate(-90deg);
        white-space: nowrap;
        margin: 0;
      }
    }
    .body-section {
      padding: 10px;

      width: 100%;

      h6 {
        margin-top: 10px;
        font-size: 14px;
        font-family: 'NotoSans-Medium';
        color: var(--ion-color-blue);
      }
      .bottom-section {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        .date-section {
          .exp-title {
            font-size: 12px;
            font-family: 'NotoSans-Light';
            color: var(--ion-color-dark-blue);
            margin: 0px;
          }
          .date-label {
            font-size: 13px;
            font-family: 'NotoSans-Light';
            color: var(--ion-color-dark-blue);
            margin: 7px 0px 0px;
          }
        }
        .btn-section {
          .btn-apply {
            height: 29px;
            font-size: 13px;
            font-family: 'NotoSans-Medium';
            --padding-start: 1.5em;
            --padding-end: 1.5em;
            --box-shadow: none;
            --background: var(--ion-color-yellow);
          }
        }
      }
    }
  }
}
