<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"
                 class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home"
                       icon="chevron-back"
                       mode="md"
                       class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>{{ 'signup.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding-horizontal">
  <ion-button expand="block"
              class="ion-no-margin btn-general"
              mode="md"
              (click)="doSignUp()">
    {{ 'signup.signup-email' | translate}}
  </ion-button>
  <ion-button expand="block"
              fill="clear"
              shape="round"
              class="btn-social ion-no-margin"
              mode="md">
    <div class="icon-section">
      <ion-icon src="../../../assets/svg_icon/google.svg"></ion-icon>
    </div>
    {{ 'signup.signup-google' | translate}}
  </ion-button>
  <ion-button expand="block"
              fill="clear"
              shape="round"
              class="btn-social ion-no-margin"
              mode="md">
    <div class="icon-section">
      <ion-icon src="../../../assets/svg_icon/facebook.svg"></ion-icon>
    </div>
    {{ 'signup.signup-facebook' | translate}}
  </ion-button>
  <p class="accont-label ion-text-center">{{ 'signup.have-account' | translate}}</p>
  <a class="ion-text-center btn-signin"
     (click)="doSignIn()">{{ 'signup.signin' | translate}}</a>
</ion-content>