<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"
                 class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home"
                       icon="chevron-back"
                       mode="md"
                       class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>{{ 'setting.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-list>
    <ion-item>
      <ion-label>{{ 'setting.notification' | translate }}</ion-label>
      <ion-toggle slot="end"
                  (click)="dataChanged()"
                  [(ngModel)]="data.noti"></ion-toggle>
    </ion-item>
    <ion-item (click)="presentTopratedModal()">
      <ion-label>{{ 'language' | translate }}</ion-label>
    </ion-item>
    <ion-item (click)="viewPage('/change-password')">
      <ion-label>{{ 'setting.change-password' | translate }}</ion-label>
    </ion-item>
    <ion-item (click)="viewPage('/privacy-policy')">
      <ion-label>{{ 'setting.policy' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>