<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"
                 class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home"
                       icon="chevron-back"
                       mode="md"
                       class="btn-back"></ion-back-button>
      <ion-icon slot="icon-only"
                name="close"></ion-icon>
    </ion-buttons>
    <ion-title header-title>{{ 'language' | translate }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title header-title>{{ 'language' | translate }}</ion-title>
    <ion-buttons slot="end"
                 class="ion-no-margin">
      <ion-button mode="md"
                  fill="clear"
                  class="btn-close">
        <ion-icon slot="icon-only"
                  name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <!-- <ion-list> -->
  <ion-radio-group [(ngModel)]="defaultLanguage">
    <ion-item *ngFor="let item of languageList">
      <ion-label>{{item.title}}</ion-label>
      <ion-radio [value]="item.code"
                 (click)="filter(item.code)"
                 slot="start"></ion-radio>
    </ion-item>
  </ion-radio-group>
  <!-- </ion-list> -->
</ion-content>