ion-header {
  ion-toolbar {
    border-radius: 0px 0px 20px 20px;
    --background: var(--ion-color-yellow);
  }
}

ion-content {
  .otp-icon {
    height: 132px;
    width: 132px;
    margin: 13vh 0px;
  }
  .info-title {
    font-family: 'NotoSans-Light';
    color: var(--ion-color-blue);
    margin-top: 0px;
  }

  ion-input {
    font-size: 16px;
    margin-top: 25px;
    text-align: left;
  }

  .btn-general {
    font-family: 'NotoSans-Light';
    height: 50px;
    margin-top: 1.8rem;
  }
}
