<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"
                 class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home"
                       icon="chevron-back"
                       mode="md"
                       class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>{{ 'forgot-password.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-text-center">
  <ion-icon class="otp-icon"
            src="../../../assets/svg_icon/set_new_password.svg"></ion-icon>
  <h5 class="info-title">{{ 'forgot-password.new-password.title' | translate }}</h5>
  <form>

    <ion-input custom-input
               [type]="showpassword ? 'text' : 'password'"
               placeholder="{{ 'forgot-password.new-password.password' | translate }}"
               [(ngModel)]="data.password"
               name="password">
      <ion-button class="btn-password-toggle ion-no-margin"
                  fill="clear"
                  (click)="showpassword = !showpassword">
        <ion-icon slot="icon-only"
                  [name]="showpassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-input>

    <ion-input custom-input
               [type]="cshowpassword ? 'text' : 'password'"
               placeholder="{{ 'forgot-password.new-password.confirm-password' | translate }}"
               name="cpassword"
               [(ngModel)]="data.password_confirmation">
      <ion-button class="btn-password-toggle ion-no-margin"
                  fill="clear"
                  (click)="cshowpassword = !cshowpassword">
        <ion-icon slot="icon-only"
                  [name]="cshowpassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-input>

    <ion-button expand="block"
                class="ion-no-margin btn-general"
                (click)="doChange()">
      {{ 'forgot-password.new-password.change' | translate }}
    </ion-button>
  </form>
</ion-content>