<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title header-title>{{ 'booking.booking-cancel.title-1' | translate}}<br>
      {{ 'booking.booking-cancel.title-2' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear"
                  class="btn-close"
                  (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-item mode="md"
            lines="none">
    <ion-thumbnail slot="start">
      <img src="../../../assets/Images/aductive_small.png" />
    </ion-thumbnail>
    <ion-label>
      <h5>{{ 'booking.booking-cancel.content-1' | translate}}</h5>
      <p>{{ 'booking.booking-cancel.content-2' | translate}}</p>
      <p>{{ 'booking.booking-cancel.content-3' | translate}}</p>
      <div class="rating-bar">
        <ion-icon name="star"
                  class="active"></ion-icon>
        <ion-icon name="star"
                  class="active"></ion-icon>
        <ion-icon name="star"
                  class="active"></ion-icon>
        <ion-icon name="star"
                  class="active"></ion-icon>
        <ion-icon name="star"
                  class="active"></ion-icon>
      </div>
    </ion-label>
  </ion-item>
  <p class="note-text"><span>{{ 'booking.booking-cancel.note-title' | translate}}</span>
    {{ 'booking.booking-cancel.note-text' | translate}}</p>
</ion-content>
<ion-footer>
  <ion-button expand="full"
              mode="md"
              class="ion-no-margin btn-cencel"
              (click)="closeModal()">
    {{ 'booking.booking-cancel.cancel' | translate}}
  </ion-button>
</ion-footer>