ion-header {
  ion-toolbar {
    border-radius: 0px 0px 20px 20px;
    --background: var(--ion-color-yellow);
  }
}

ion-content {
  .styled-input-single {
    margin: 14px 0px;
    label {
      font-size: 16px;
      font-family: 'NotoSans-Light';
      color: var(--ion-color-blue);
      cursor: pointer;
      &:before,
      &:after {
        top: 7px;
      }
      &:before {
        left: 1px;
      }
      &:after {
        left: 5px;
      }
    }
  }
  .btn-general {
    font-size: 16px;
    height: 50px;
    margin-top: 2.2rem;
  }
  .accont-label {
    font-family: 'NotoSans-Light';
    color: var(--ion-color-dark-blue);
    margin-top: 25px;
    margin-bottom: 0px;
  }
  .btn-signin {
    font-size: 16px;
    font-family: 'NotoSans-Medium';
    color: var(--ion-color-blue);
    text-decoration: none;
    margin: 5px auto;
    display: block;
  }
}
