<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"
                 class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home"
                       icon="chevron-back"
                       mode="md"
                       class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>{{ 'signup.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <form action=""
        #f="ngForm">
    <p input-label>{{ 'signup.name' | translate }}</p>
    <ion-input custom-input
               type="text"
               placeholder="{{ 'signup.name' | translate }}"
               [(ngModel)]="data.name"
               name="name"
               required></ion-input>
    <p class="err"
       *ngIf="err?.name">{{err?.name}}*</p>
    <p input-label>{{ 'signup.phone' | translate }}</p>
    <div class="custom-phone-input">
      <ion-input custom-input
                 type="tel"
                 placeholder="{{ 'signup.phone' | translate }}"
                 [(ngModel)]="data.phone_no"
                 name="phone"
                 required>
      </ion-input>
    </div>
    <p class="err"
       *ngIf="err?.phone_no">{{err?.phone_no}}*</p>

    <p input-label>{{ 'signup.email' | translate }}</p>
    <ion-input custom-input
               type="email"
               placeholder="{{ 'signup.email' | translate }}"
               [(ngModel)]="data.email"
               name="email"
               required></ion-input>
    <p class="err"
       *ngIf="err?.email">{{err?.email}}*</p>

    <p input-label>{{ 'signup.password' | translate }}</p>
    <ion-input custom-input
               [type]="showpassword ? 'text' : 'password'"
               placeholder="{{ 'signup.password' | translate }}"
               name="password"
               [(ngModel)]="data.password"
               required>

      <ion-button class="btn-password-toggle ion-no-margin"
                  fill="clear"
                  (click)="showpassword = !showpassword">
        <ion-icon slot="icon-only"
                  [name]="showpassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-input>
    <p class="err"
       *ngIf="err?.password">{{err?.password}}*</p>

    <ion-button expand="block"
                class="ion-no-margin btn-general"
                (click)="doSignUp()"
                [disabled]="!f.valid">
      {{ 'signup.signup' | translate }}
    </ion-button>
  </form>
  <p class="accont-label ion-text-center">{{ 'signup.have-account' | translate }}</p>
  <a class="ion-text-center btn-signin"
     (click)="doSignIn()">{{ 'signup.signin' | translate }}</a>
</ion-content>