ion-header {
  ion-toolbar {
    border-radius: 0px 0px 20px 20px;
    --background: var(--ion-color-yellow);
  }
}

ion-content {
  .forgot-icon {
    height: 132px;
    width: 132px;
    margin: 13vh 0px;
  }
  .info-title {
    font-family: 'NotoSans-Light';
    color: var(--ion-color-blue);
    margin-top: 0px;
  }

  .info-text {
    font-size: 14px;
    font-family: 'NotoSans-Light';
    color: var(--ion-color-dark-blue);
  }
  ion-input {
    text-align: left;
    margin-top: 30px;
    font-size: 16px;
  }
  .btn-general {
    font-size: 16px;
    height: 50px;
    margin-top: 1.8rem;
  }
}
