<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"
                 class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home"
                       icon="chevron-back"
                       mode="md"
                       class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>{{ 'forgot-password.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-text-center">
  <ion-icon class="forgot-icon"
            src="../../../assets/svg_icon/forgot.svg"></ion-icon>
  <h5 class="info-title">{{ 'forgot-password.info-title-1' | translate }} <br>
    {{ 'forgot-password.info-title-2' | translate }}</h5>
  <p class="info-text">{{ 'forgot-password.info-text-1' | translate }} <br>
    {{ 'forgot-password.info-text-2' | translate }}</p>
  <form action=""
        #f="ngForm">
    <ion-input custom-input
               type="tel"
               placeholder="{{ 'forgot-password.phone' | translate }}"
               [(ngModel)]="data.phone_no"
               name="phone"
               required>
    </ion-input>

    <ion-button expand="block"
                class="ion-no-margin btn-general"
                (click)="doNext()"
                [disabled]="!f.valid">
      {{ 'forgot-password.next' | translate }}
    </ion-button>
  </form>
</ion-content>