<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"
                 class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home"
                       icon="chevron-back"
                       mode="md"
                       class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>{{ 'booking.booking-term.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <p>
    {{ 'booking.booking-term.content-1' | translate }}
  </p>
  <p>
    {{ 'booking.booking-term.content-2' | translate }}
  </p>
  <p>
    {{ 'booking.booking-term.content-3' | translate }}
  </p>
</ion-content>