ion-header {
    ion-toolbar {
        border-radius: 0px 0px 20px 20px;
        --background: var(--ion-color-yellow);
    }
}
ion-content {
    --padding-top: 10px;
    p {
        font-family: 'NotoSans-Medium';
        color: var(--ion-color-dark-blue);
        margin: 20px 0px;
    }
}
