ion-content {
  .header-image-section {
    height: 220px;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      display: block;
      border-radius: 0px 0px 20px 20px;
    }
    ion-header {
      position: fixed;
      top: 0px;
      ion-toolbar {
        --background: transparent;
        .btn-like {
          --color: var(--ion-color-white);
          font-size: 12px;
          .fav_ic {
            color: var(--ion-color-red);
          }
        }
      }
    }
  }

  .salon-detail-section {
    .salon-name {
      font-family: 'NotoSans-Medium';
      color: var(--ion-color-blue);
      margin-bottom: 3px;
      ion-icon {
        color: var(--ion-color-yellow);
        font-size: 17px;
      }
    }
    .salon-address {
      font-size: 14px;
      font-family: 'NotoSans-Light';
      color: var(--ion-color-dark-blue);
    }
    .rate-label {
      font-size: 14px;
      font-family: 'NotoSans-Medium';
      color: var(--ion-color-blue);
      margin-top: 3px;
      ion-icon {
        color: var(--ion-color-yellow);
        margin-bottom: -1px;
        margin-right: 5px;
      }
    }
    hr {
      background: rgba(0, 0, 0, 0.16);
      margin-block-start: 0.8em;
      margin-block-end: 0.8em;
    }
    .detail-line {
      font-size: 14px;
      font-family: 'NotoSans-Medium';
      color: var(--ion-color-dark-blue);
      .detail-icon {
        margin-bottom: -2px;
        margin-right: 5px;
      }
      .arrow-down {
        color: var(--ion-color-blue);
        font-size: 17px;
      }
    }
    .salon-description {
      font-size: 14px;
      font-family: 'NotoSans-Light';
      color: var(--ion-color-dark-blue);
      line-height: 20px;
    }
    .review-title,
    .location-title,
    .venues-title {
      font-family: 'NotoSans-Medium';
      color: var(--ion-color-blue);
    }

    .review-item {
      --padding-start: 0px;
      --inner-padding-end: 0px;
      ion-thumbnail {
        margin-top: 0px;
        width: 57px;
        height: 57px;
        border: 4px solid var(--ion-color-white);
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.22);
        border-radius: 5px;
        position: absolute;
        top: 17px;
        left: 3px;
        img {
          border-radius: 3px;
        }
      }
      ion-label {
        margin-left: 75px;
        margin-top: 14px;
        margin-bottom: 1px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        h5 {
          font-size: 16px;
          font-family: 'NotoSans-Medium';
          color: var(--ion-color-blue);
        }
        .date-label {
          font-size: 12px;
          font-family: 'NotoSans-Light';
          color: var(--ion-color-dark-blue);
          margin: 5px 0px 4px;
        }
        .review-text {
          font-size: 14px;
          font-family: 'NotoSans-Light';
          color: var(--ion-color-dark-blue);
          line-height: 17px;
        }
        .rating-bar {
          width: fit-content;
          margin-top: 10px;
          ion-icon {
            margin-right: 5px;
            color: var(--ion-color-dark-blue1);
          }
          .active {
            color: var(--ion-color-yellow);
          }
        }
      }
    }

    .count-review-section {
      background-color: var(--ion-color-dark-blue2);
      border-radius: 25px;
      padding: 12px 20px 11px;
      margin: 25px 0px;
      p {
        font-size: 14px;
        font-family: 'NotoSans-Medium';
        color: var(--ion-color-blue);
      }
    }

    .additional-location-section,
    .venues-near-section {
      display: flex;
      overflow-x: scroll;
      white-space: nowrap;
      .main-section {
        width: 228px;
        margin-right: 20px;
        padding-bottom: 5px;
        .image-section {
          width: 100%;
          height: 115px;
          position: relative;
          img {
            height: 100%;
            width: 100%;
            display: block;
            border-radius: 5px;
          }
          .fix-label {
            position: absolute;
            right: 0px;
            bottom: 0px;
            font-size: 10px;
            font-family: 'NotoSans-Light';
            color: var(--ion-color-white);
            background-color: var(--ion-color-yellow);
            padding: 8px 10px 5px;
            text-transform: uppercase;
            border-radius: 5px 0px 5px 0px;
          }
        }
        .salon-name {
          font-family: 'NotoSans-Medium';
          color: var(--ion-color-blue);
          margin-top: 7px;
          margin-bottom: 3px;
        }
        .salon-address {
          font-size: 14px;
          font-family: 'NotoSans-Light';
          color: var(--ion-color-dark-blue);
          margin: 0px;
        }
        .star-icon {
          color: var(--ion-color-yellow);
          font-size: 15px;
          margin-bottom: -1px;
          margin-right: 10px;
        }
        .everage-star-label,
        .total-rating-label {
          font-size: 14px;
          font-family: 'NotoSans-Medium';
        }
        .everage-star-label {
          color: var(--ion-color-blue);
        }
        .total-rating-label {
          color: var(--ion-color-dark-blue);
        }
        .circle {
          height: 5px;
          width: 5px;
          background-color: var(--ion-color-yellow);
          border-radius: 50%;
          display: inline-block;
          margin-right: 20px;
          margin-bottom: 2px;
        }
      }
    }
    ::-webkit-scrollbar {
      display: none;
    }
  }
}
