<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"
                 class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home"
                       icon="chevron-back"
                       mode="md"
                       class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>{{ 'appointment.title' | translate }}</ion-title>
  </ion-toolbar>
  <div class="segment-section">
    <a (click)="activeSegment='Upcoming'"
       [ngClass]="{active:activeSegment=='Upcoming'}">{{ 'appointment.upcoming' | translate }}</a>
    <a (click)="activeSegment='Past'"
       [ngClass]="{active:activeSegment=='Past'}">{{ 'appointment.past' | translate }}</a>
    <a (click)="activeSegment='Cancel'"
       [ngClass]="{active:activeSegment=='Cancel'}">{{ 'appointment.cancel' | translate }}</a>
  </div>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-refresher slot="fixed"
                 id="refresher"
                 (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="activeSegment=='Upcoming'"
       class="section">
    <div class="no-data"
         *ngIf="data?.upcoming?.length == 0">
      <ion-icon class="calendar-icon"
                src="../../../assets/svg_icon/no_appintment.svg"></ion-icon>
      <h5>{{ 'appointment.no-appointment' | translate }}</h5>
      <p>{{ 'appointment.content-1' | translate }} <br>
        {{ 'appointment.content-2' | translate }}</p>

      <ion-button class="btn-general"
                  (click)="gotoHome()">
        {{ 'appointment.find' | translate }}
      </ion-button>
    </div>
    <div class="appoinment-section"
         *ngFor="let item of data?.upcoming">
      <div class="header-section">
        <h6 *ngIf="item?.status==1">{{ 'appointment.confirm' | translate }}</h6>
        <h6 *ngIf="item?.status==0">{{ 'appointment.pending' | translate }}</h6>
      </div>
      <div class="body-section">
        <ion-item mode="md"
                  lines="none">
          <ion-thumbnail slot="start">
            <img [src]="item?.branch?.imageUri" />
          </ion-thumbnail>
          <ion-label>
            <h5>{{item?.branch?.name}}</h5>
            <p>{{item?.branch?.address}}</p>
            <p>{{item?.start_time | date :'dd MMMM yyyy'}} - {{item?.start_time | date :'hh:mm a'}}</p>
            <div class="rating-bar">
              <ion-icon name="star"
                        [ngClass]="{active: item?.branch?.avg_rating >=1 }"></ion-icon>
              <ion-icon name="star"
                        [ngClass]="{active: item?.branch?.avg_rating >=2 }"></ion-icon>
              <ion-icon name="star"
                        [ngClass]="{active: item?.branch?.avg_rating >=3 }"></ion-icon>
              <ion-icon name="star"
                        [ngClass]="{active: item?.branch?.avg_rating >=4 }"></ion-icon>
              <ion-icon name="star"
                        [ngClass]="{active: item?.branch?.avg_rating >=5 }"></ion-icon>
            </div>
          </ion-label>
        </ion-item>
      </div>
      <div class="footer-section">
        <p class="ion-no-margin">{{ 'appointment.total' | translate }} : {{item?.currency}}{{item?.total}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="activeSegment=='Past'"
       class="section">
    <div class="no-data"
         *ngIf="data?.past?.length == 0">
      <ion-icon class="calendar-icon"
                src="../../../assets/svg_icon/no_appintment.svg"></ion-icon>
      <h5>{{ 'appointment.no-appointment' | translate }}</h5>
      <p>{{ 'appointment.content-1' | translate }} <br>
        {{ 'appointment.content-2' | translate }}</p>

      <ion-button class="btn-general"
                  (click)="gotoHome()">
        {{ 'appointment.find' | translate }}
      </ion-button>
    </div>
    <div class="appoinment-section"
         *ngFor="let item of data?.past">

      <div class="header-section">
        <h6>{{ 'appointment.complete' | translate }}</h6>
      </div>
      <div class="body-section">
        <ion-item mode="md"
                  lines="none">
          <ion-thumbnail slot="start">
            <img [src]="item?.branch?.imageUri" />
          </ion-thumbnail>
          <ion-label>
            <h5>{{item?.branch?.name}}</h5>
            <p>{{item.branch?.address}}</p>
            <p>{{item?.start_time | date :'dd MMMM yyyy'}} - {{item?.start_time | date :'hh:mm a'}}</p>
            <div class="rating-bar">
              <ion-icon name="star"
                        [ngClass]="{active: item?.branch?.avg_rating >=1 }"></ion-icon>
              <ion-icon name="star"
                        [ngClass]="{active: item?.branch?.avg_rating >=2 }"></ion-icon>
              <ion-icon name="star"
                        [ngClass]="{active: item?.branch?.avg_rating >=3 }"></ion-icon>
              <ion-icon name="star"
                        [ngClass]="{active: item?.branch?.avg_rating >=4 }"></ion-icon>
              <ion-icon name="star"
                        [ngClass]="{active: item?.branch?.avg_rating >=5 }"></ion-icon>
            </div>
          </ion-label>
        </ion-item>
      </div>
      <div class="footer-section">

        <p class="ion-no-margin">{{ 'appointment.total' | translate }} : {{item?.currency}}{{item?.total}} <a
             class="btn-view ion-float-right"
             (click)="viewDetail(item?.id)">{{ 'appointment.view' | translate }}</a></p>
      </div>
    </div>
  </div>
  <div *ngIf="activeSegment=='Cancel'"
       class="section">
    <div class="no-data"
         *ngIf="data?.cancel?.length == 0">
      <ion-icon class="calendar-icon"
                src="../../../assets/svg_icon/no_appintment.svg"></ion-icon>
      <h5>{{ 'appointment.no-appointment' | translate }}</h5>
      <p>{{ 'appointment.content-1' | translate }} <br>
        {{ 'appointment.content-2' | translate }}</p>

      <ion-button class="btn-general"
                  (click)="gotoHome()">
        {{ 'appointment.find' | translate }}
      </ion-button>
    </div>
    <div class="appoinment-section"
         *ngFor="let item of data?.cancel">
      <div class="header-section">
        <h6>{{ 'appointment.cancel' | translate }}</h6>
      </div>
      <div class="body-section">
        <ion-item mode="md"
                  lines="none">
          <ion-thumbnail slot="start">
            <img [src]="item?.branch?.imageUri" />
          </ion-thumbnail>
          <ion-label>
            <h5>{{item?.branch?.name}}</h5>
            <p>{{item.branch?.address}}</p>
            <p>{{item?.start_time | date :'dd MMMM yyyy'}} - {{item?.start_time | date :'hh:mm a'}}</p>
            <div class="rating-bar">
              <ion-icon name="star"
                        [ngClass]="{active: item?.branch?.avg_rating >=1 }"></ion-icon>
              <ion-icon name="star"
                        [ngClass]="{active: item?.branch?.avg_rating >=2 }"></ion-icon>
              <ion-icon name="star"
                        [ngClass]="{active: item?.branch?.avg_rating >=3 }"></ion-icon>
              <ion-icon name="star"
                        [ngClass]="{active: item?.branch?.avg_rating >=4 }"></ion-icon>
              <ion-icon name="star"
                        [ngClass]="{active: item?.branch?.avg_rating >=5 }"></ion-icon>
            </div>
          </ion-label>
        </ion-item>
      </div>
      <div class="footer-section">
        <p class="ion-no-margin">{{ 'appointment.total' | translate }} : {{item?.currency}}{{item?.total}} <a
             class="btn-view ion-float-right"
             (click)="viewDetail(item?.id)">{{ 'appointment.view' | translate }}</a></p>
      </div>
    </div>
  </div>
</ion-content>