ion-content {
  agm-map {
    height: 100%;
    width: 100%;
  }
  .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    height: 33px;
    --padding-start: 0.1em;
    --padding-end: 0.1em;
    --border-radius: 3px;
    --background: var(--ion-color-white);
    --color: var(--ion-color-yellow);
    --ripple-color: transparent;
  }
  .beauty-salons-section {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 10px;
    position: absolute;
    left: 16px;
    bottom: 10px;
    width: 100%;
    .main-section {
      width: 228px;
      min-width: 228px;
      margin-right: 20px;
      padding-bottom: 5px;
      background: var(--ion-color-white);
      border-radius: 5px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      .image-section {
        width: 100%;
        height: 115px;
        position: relative;
        img {
          height: 100%;
          width: 100%;
          display: block;
          border-radius: 5px 5px 0px 0px;
        }
        .fix-label {
          position: absolute;
          right: 0px;
          bottom: 0px;
          font-size: 10px;
          font-family: 'NotoSans-Light';
          color: var(--ion-color-white);
          background-color: var(--ion-color-yellow);
          padding: 8px 10px 5px;
          text-transform: uppercase;
          border-radius: 5px 0px 0px 0px;
        }
      }
      .salon-name {
        font-family: 'NotoSans-Medium';
        color: var(--ion-color-blue);
        margin-top: 7px;
        margin-bottom: 3px;
        padding-left: 10px;
      }
      .salon-address {
        font-size: 13px;
        font-family: 'NotoSans-Light';
        color: var(--ion-color-dark-blue);
        margin: 0px;
        padding-left: 10px;
        white-space: normal;
      }
      .distance {
        padding-left: 10px;
        font-size: 14px;
        font-family: 'NotoSans-Medium';
        color: var(--ion-color-blue);
        margin-top: 4px;
        margin-bottom: 0px;
        ion-icon {
          margin-bottom: -3px;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
