<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"
                 class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home"
                       icon="chevron-back"
                       mode="md"
                       class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>{{ 'booking.booking-confirm.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="salon-detail ion-padding-horizontal">
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img [src]="data?.branch?.imageUri" />
      </ion-thumbnail>
      <ion-label>
        <h5>{{data?.branch?.name}}</h5>
        <p>{{data?.branch?.address}}</p>
      </ion-label>
    </ion-item>
    <h5 class="date-title">{{ 'booking.booking-confirm.date-time' | translate }}</h5>

    <p>{{data?.start_time | date :'dd MMMM yyyy'}} - {{data?.start_time | date :'hh:mm a'}}</p>
  </div>
  <div class="ticket ion-margin-horizontal">
    <div class="ticket__wrapper">
      <div class="ticket__header">
        <h4 class="title">
          <h5>{{data?.branch?.name}} <span class="ion-float-right">{{data?.currency}}{{data?.total}}</span></h5>
        </h4>
        <p class="info-text">{{data?.branch?.address}}</p>
      </div>
    </div>
    <div class="ticket__divider">
      <div class="ticket__notch"></div>
      <div class="ticket__notch ticket__notch--right"></div>
    </div>
    <div class="ticket__body">
      <section class="ticket__section">
        <div class="date-section">
          <div class="tittle_div">
            <p class="info-text">{{ 'booking.booking-confirm.service' | translate }}
              <span class="ion-float-end">{{ 'booking.booking-confirm.price' | translate }}</span>
            </p>
            <p class="date-label"
               *ngFor="let item of data?.services">
              {{item?.service?.name}}
              <span class="ion-float-end">{{item?.service?.currency}}{{item?.service?.price}}</span>
            </p>
          </div>
        </div>
        <div class="date-section">
          <div>
            <p class="info-text">{{ 'booking.booking-confirm.total' | translate }}</p>
            <p class="date-label">{{data?.duration}}</p>
          </div>
          <div>
            <p class="info-text">{{ 'booking.booking-confirm.payment-status' | translate }}</p>
            <p class="date-label"
               *ngIf="data?.payment_status== 0">{{ 'booking.booking-confirm.pending' | translate }}</p>
            <p class="date-label"
               *ngIf="data?.payment_status==1">{{ 'booking.booking-confirm.complete' | translate }}</p>
          </div>
        </div>
        <div class="date-section">
          <div>
            <p class="info-text">{{ 'booking.booking-confirm.booking-no' | translate }}</p>
            <p class="date-label">{{data?.booking_id}}</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</ion-content>