ion-content {
    --background: url('../../../assets/Images/success-back.png');
    .text-section {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 12px;
        h4 {
            font-family: 'NotoSans-Medium';
            color: var(--ion-color-blue);
            margin-bottom: 5px;
        }
        h2 {
            font-size: 25px;
            font-family: 'NotoSans-Medium';
            color: var(--ion-color-blue);
            margin-top: 0px;
        }
    }
}
