<ion-content>
  <div class="text-section">
    <h4 class="ion-text-center">{{ 'status.payment-successful' | translate }}</h4>
    <h2 class="ion-text-center">{{ 'status.booking-confirmed' | translate }}</h2>
  </div>
</ion-content>