<ion-header class="ion-no-border">
  <ion-toolbar>
    <h3>{{ 'home.hi' | translate }} {{rdata?.name  | translate}}</h3>
    <p>{{ 'home.title' | translate }}</p>
  </ion-toolbar>
  <ion-searchbar radious-searchbar
                 placeholder="{{ 'home.search' | translate }}"
                 clearIcon="no"
                 mode="md"
                 searchIcon="../../../assets/svg_icon/Search_icon.svg"
                 [(ngModel)]="term"></ion-searchbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-refresher slot="fixed"
                 id="refresher"
                 (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <h5 class="info-title">{{ 'home.popular' | translate }}</h5>
  <p class="no_data_p"
     *ngIf="data?.popular_category?.length==0">{{ 'home.no-data' | translate }}</p>
  <div class="popular-category">

    <div class="main-section"
         (click)="viewList(item)"
         *ngFor="let item of data.popular_category |filter:term">
      <img [src]="item?.imageUri"
           alt="">
      <div class="text-section">
        <p class="ion-no-margin">{{item?.name}}</p>
      </div>
    </div>
  </div>
  <h5 class="info-title">{{ 'home.more' | translate }}</h5>
  <p class="no_data_p"
     *ngIf="data?.more_category?.length==0">{{ 'home.no-data' | translate }}</p>
  <div class="more-categories-section">

    <div class="main-section"
         *ngFor="let item of data.more_category |filter:term"
         (click)="viewList(item)">
      <img [src]="item.imageUri"
           alt="">
      <div class="text-section">
        <p class="ion-no-margin ion-text-center">{{item?.name}}</p>
      </div>
    </div>
  </div>

  <h5 class="info-title">{{ 'home.feature' | translate }}</h5>
  <p class="no_data_p"
     *ngIf="data?.featured?.length==0">{{ 'home.no-data' | translate }}</p>
  <div class="featured_venue">
    <div class="featured-venues-section"
         *ngFor="let item of data?.featured |filter:term"
         (click)="viewSlonDetail(item?.id)">
      <img [src]="item?.imageUri"
           alt="">
      <h6 class="salon-name">{{item?.name}}</h6>
      <p class="salon-address">{{item?.address}}</p>
    </div>
  </div>



</ion-content>