<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"
                 class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home"
                       icon="chevron-back"
                       mode="md"
                       class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>{{ 'direction.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map [latitude]="lat"
           [longitude]="lng"
           [zoom]="zoom"
           [disableDefaultUI]="false"
           [zoomControl]="false">
    <agm-direction [markerOptions]="markerOptions"
                   [renderOptions]="renderOptions"
                   [origin]="origin"
                   [destination]="destination">
    </agm-direction>

  </agm-map>
</ion-content>