<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"
                 class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home"
                       icon="chevron-back"
                       mode="md"
                       class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>{{ 'select-time.title' | translate }}</ion-title>
  </ion-toolbar>
  <div class="calendar-section">
    <h5>
      <ion-icon name="chevron-back-outline"
                (click)="action(1)"></ion-icon>{{calender.date[0]?.date| date:'LLL'}}
      {{calender.date[0]?.date| date:'yyyy'}} <ion-icon (click)="action(2)"
                name="chevron-forward-outline">
      </ion-icon>
    </h5>
    <div class="cn_div">
      <table *ngFor='let i of calender.date | slice:slice.from:slice.to; let j=index'>
        <tr>
          <th>{{i?.date| date:'EEEEEE'}}</th>
        </tr>
        <tr [class.disabled]="!i.selected">
          <td (click)="selected = i?.date;request()">
            <div [class.active]="selected == i?.date">{{i?.date | date:'d'}}</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <h5 class="info-title">{{ 'select-time.choose-time' | translate }}</h5>
  <ion-row>
    <ion-col size="3"
             *ngFor="let slot of timeSlot"
             class="ion-no-padding">
      <div class="time-slot"
           [ngClass]="{active: slot.issel}"
           (click)="activeSlot(slot)">
        {{slot.time}}
      </div>
    </ion-col>
  </ion-row>

</ion-content>
<ion-footer>
  <ion-button expand="full"
              class="ion-no-margin btn-general"
              (click)="bookNow()">
    {{ 'select-time.continue' | translate }}
  </ion-button>
</ion-footer>