ion-header {
  ion-toolbar {
    .btn-back {
      --color: var(--ion-color-blue);
    }
  }
}
ion-content {
  .profile-div {
    width: fit-content;
    position: relative;
    margin: 0px auto;
    .camera-icon {
      height: 25px;
      width: 25px;
      background: var(--ion-color-dark-blue2);
      border-radius: 50%;
      text-align: center;
      padding-top: 3px;
      font-size: 15px;
      color: var(--ion-color-blue);
      position: absolute;
      bottom: 3px;
      right: 3px;
      z-index: 14;
    }
  }
  .hexagon {
    overflow: hidden;
    visibility: hidden;
    transform: rotate(120deg);
    cursor: pointer;
  }
  .hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
  }
  .hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: visible;
    transform: rotate(-60deg);
  }

  .hexagon1 {
    width: 100px;
    height: 90px;
    margin: 0px auto;
  }

  form {
    margin-top: 8vh;
    .btn-general {
      font-family: 'NotoSans-Light';
      height: 50px;
      margin: 10vh 0px 0px;
    }
  }
}
