<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"
                 class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home"
                       icon="chevron-back"
                       mode="md"
                       class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>{{ 'signup.phone-number.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <p class="info-text">{{ 'signup.phone-number.text' | translate}}</p>
  <form action="">
    <p input-label>{{ 'signup.phone-number.phone' | translate}}</p>
    <div class="custom-phone-input">
      <ion-select appNoArrow
                  value="+84"
                  [interfaceOptions]="customOptions">
        <ion-select-option value="+84"
                           selected>+84</ion-select-option>
        <ion-select-option value="+91">+91</ion-select-option>
        <ion-select-option value="+92">+92</ion-select-option>
      </ion-select>
      <ion-input custom-input
                 type="tel"
                 placeholder="{{ 'signup.phone-number.phone' | translate}}"></ion-input>
    </div>

    <ion-button expand="block"
                class="ion-no-margin btn-general"
                (click)="doContinue()">
      {{ 'signup.phone-number.continue' | translate}}
    </ion-button>
  </form>
</ion-content>