/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.no_data_p {
  text-align: center;
  font-size: 14px;
  color: var(--ion-color-dark-blue1);
}
[no-data] {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 150px;
    opacity: 0.2;
  }
}

.err {
  padding-top: 4px;
  font-size: 12px;
  //text-align: center;
  margin: auto;
  color: red !important;
  font-weight: 500;
}
[radious-searchbar] {
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  --color: var(--ion-color-blue);
  --icon-color: var(--ion-color-yellow);
  .searchbar-input-container {
    --box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    .searchbar-input {
      border-radius: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-inline-start: 22px;
      font-size: 14px;
      font-family: 'NotoSans-Italic';
    }
    .searchbar-search-icon {
      left: initial;
      top: 11px;
      right: 16px;
      width: 17px;
      height: 17px;
      color: var(--ion-color-yellow);
    }
  }
}

[header-title] {
  font-size: 18px;
  font-family: 'NotoSans-Bold';
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 50px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -2;
  --color: var(--ion-color-white);
}

.btn-back {
  --color: var(--ion-color-white);
  --color-focused: var(--ion-color-white);
  --color-hover: var(--ion-color-white);
  --icon-font-size: 25px;
}

.sort-modal {
  --border-radius: 20px 20px 0px 0px;
  --height: 251px;
  align-items: flex-end;
}
.sort-modal1 {
  --border-radius: 20px 20px 0px 0px;
  --height: 204px;
  align-items: flex-end;
}
.cancel-boooking-modal {
  --border-radius: 20px 20px 0px 0px;
  --height: 310px;
  align-items: flex-end;
}
.select-icon,
.select-icon-inner {
  display: none !important;
}
.success-modal {
  --height: 340px;
  --border-radius: 10px;
  padding: 0px 16px;
}
.btn-general {
  font-size: 18px;
  font-family: 'NotoSans-Medium';
  height: 53px;
  --background: var(--ion-color-yellow);
  --background-activated: var(--ion-color-yellow);
  --background-focused: var(--ion-color-yellow);
  --box-shadow: none;
  --border-radius: 3px;
}

.styled-input-single {
  position: relative;
  padding: 0px 0 0px 35px;
  text-align: left;
  height: 100%;
  label {
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 11px;
      border-radius: 3px;
    }
    &:before {
      left: 12px;
      width: 20px;
      height: 20px;
      margin: 0;
      background: #f7f7f7;
      border: 1px solid var(--ion-color-blue);
    }
    &:after {
      left: 16px;
      width: 14px;
      height: 14px;
      margin: 4px 0 0;
      opacity: 0;
      background: var(--ion-color-yellow);
    }
  }
  .add-facitilies {
    color: var(--ion-color-red);
    &:before {
      border: 1px solid var(--ion-color-red);
    }
    &:after {
      background: var(--ion-color-red);
    }
  }
  input[type='checkbox'] {
    position: absolute;
    top: 0;
    left: -9999px;
    visibility: hidden;

    &:checked + label {
      &:before {
      }
      &:after {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
}

[input-label] {
  font-family: 'NotoSans-Medium';
  color: var(--ion-color-dark-blue);
  margin-bottom: 5px;
  margin-top: 22px;
}
[custom-input] {
  border: 0.7px solid var(--ion-color-dark-blue);
  border-radius: 3px;
  font-size: 18px;
  font-family: 'NotoSans-Medium';
  color: var(--ion-color-blue);
  --padding-top: 14px;
  --padding-bottom: 14px;
  --padding-start: 16px;
  .btn-password-toggle {
    position: absolute;
    right: 0px;
    font-size: 10px;
    --color: var(--ion-color-dark-blue);
    --ripple-color: transparent;
  }
}

.custom-phone-input {
  display: flex;
  ion-select {
    width: 55px;
    border: 1px solid var(--ion-color-dark-blue);
    border-right: 0px;
    --padding-start: 5px;
    font-size: 18px;
    font-family: 'NotoSans-Medium';
    color: var(--ion-color-blue);
    border-radius: 4px 0px 0px 5px;
    text-align: center;
  }
  ion-input {
    border-radius: 0px 3px 3px 0px;
  }
}
