ion-header {
    ion-toolbar {
        border-radius: 0px 0px 20px 20px;
        --background: var(--ion-color-yellow);
    }
}
ion-content {
    .day-label {
        font-family: 'sf_ui_medium';
        color: var(--ion-color-blue);
        font-size: 12px;
    }
    .left-section,
    .right-section {
        width: 90%;
        margin-bottom: 20px;
        .inline-section {
            display: flex;
            width: 100%;
            .image-section {
                height: 56px;
                width: 56px;
                min-width: 56px;
                border-radius: 50%;
                border: 1px solid var(--ion-color-dark-blue2);
                margin-top: auto;
                img {
                    border-radius: 50%;
                    border: 3px solid var(--ion-color-white);
                }
            }
            .text-section {
                padding: 12px 12px 10px;
                border: 1px solid #dedede;
                width: 100%;
                border-radius: 7px;
                .message {
                    font-size: 14px;
                    font-family: 'NotoSans-MediumItalic';
                    color: var(--ion-color-blue);
                    line-height: 17px;
                }
            }
        }
        .time-label {
            font-size: 12px;
            font-family: 'sf_ui_medium';
            color: var(--ion-color-dark-blue);
            margin-top: 5px;
        }
    }
    .left-section {
        .image-section {
            margin-right: 10px;
        }
    }
    .right-section {
        .image-section {
            margin-left: 10px;
        }
    }
}
ion-footer {
    display: flex;
    padding-left: 16px;
    box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.2);
    ion-input {
        font-size: 16px;
        font-family: 'NotoSans-Medium';
        --color: var(--ion-color-blue);
        margin-right: 10px;
    }
    .smile-icon {
        height: 28px;
        width: 28px;
        border-radius: 50%;
        border: 1px solid var(--ion-color-dark-blue2);
        text-align: center;
        padding-top: 3px;
        margin: auto;
        ion-icon {
            font-size: 20px;
        }
    }
    ion-button {
        height: 50px;
        width: 97px;
        margin-bottom: -1px;
        --padding-start: 0em;
        --padding-end: 0em;
        --border-radius: 0px;
        --ripple-color: transparent;
        img {
            height: 100%;
            width: 100%;
        }
    }
}
