<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"
                 class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home"
                       icon="chevron-back"
                       mode="md"
                       class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>{{ 'customer-support.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <p class="ion-text-center day-label">{{ 'customer-support.today' | translate }}</p>

  <div class="left-section">
    <div class="inline-section">
      <div class="image-section">
        <img src="http://placehold.it/51X51"
             alt="" />
      </div>
      <div class="text-section">
        <p class="message ion-no-margin">
          {{ 'customer-support.hello' | translate }} <br />
          {{ 'customer-support.message-hello' | translate }}
        </p>
      </div>
    </div>
    <p class="ion-no-margin ion-text-right time-label">{{ 'customer-support.time-1' | translate }}/p>
  </div>

  <div class="right-section ion-float-right">
    <div class="inline-section">
      <div class="text-section">
        <p class="message ion-no-margin">
          {{ 'customer-support.hi' | translate }} <br />
          {{ 'customer-support.iam' | translate }} <br />
          {{ 'customer-support.problem' | translate }} <br />
          {{ 'customer-support.appointment' | translate }}
        </p>
      </div>
      <div class="image-section">
        <img src="http://placehold.it/51X51"
             alt="" />
      </div>
    </div>
    <p class="ion-no-margin time-label">{{ 'customer-support.time-2' | translate }}/p>
  </div>


  <div class="left-section">
    <div class="inline-section">
      <div class="image-section">
        <img src="http://placehold.it/51X51"
             alt="" />
      </div>
      <div class="text-section">
        <p class="message ion-no-margin">
          {{ 'customer-support.booking-appointment' | translate }} <br>
          {{ 'customer-support.possible' | translate }}
        </p>
      </div>
    </div>
    <p class="ion-no-margin ion-text-right time-label">{{ 'customer-support.time-3' | translate }}</p>
  </div>

  <div class="right-section ion-float-right">
    <div class="inline-section">
      <div class="text-section">
        <p class="message ion-no-margin">
          {{ 'customer-support.thanks' | translate }}
        </p>
      </div>
      <div class="image-section">
        <img src="http://placehold.it/51X51"
             alt="" />
      </div>
    </div>
    <p class="ion-no-margin time-label">{{ 'customer-support.time-4' | translate }}</p>
  </div>
</ion-content>
<ion-footer>
  <ion-input type="text"
             placeholder="{{ 'customer-support.typing' | translate }}"></ion-input>
  <div class="smile-icon">
    <ion-icon src="../../../assets/svg_icon/awesome-smile.svg"></ion-icon>
  </div>
  <ion-button mode="md"
              class="ion-no-margin"
              fill="clear">
    <img src="../../../assets/Images/type & send.png"
         alt="">
  </ion-button>
</ion-footer>