ion-header {
  ion-toolbar {
    border-radius: 0px 0px 20px 20px;
    --background: var(--ion-color-yellow);
  }
}
ion-content {
  .info-title {
    font-size: 18px;
    font-family: 'NotoSans-Medium';
    color: var(--ion-color-blue);
    .btn-add-card {
      font-size: 17px;
      font-family: 'NotoSans-Medium';
      height: 21px;
      --padding-start: 0px;
      --padding-end: 0px;
      --color: var(--ion-color-blue);
      --color-activated: var(--ion-color-blue);
      --color-focused: var(--ion-color-blue);
      --box-shadow: none;
      --ripple-color: transparent;
    }
  }
  .payable-section {
    border-bottom: 5px solid var(--ion-color-dark-blue2);
    h5 {
      margin-bottom: 7px;
    }
    h2 {
      font-size: 30px;
      font-family: 'NotoSans-Medium';
      color: var(--ion-color-blue);
      margin-top: 0px;
    }
    .wallet-icon {
      width: 50px;
      height: 40px;
      color: var(--ion-color-blue);
      position: absolute;
      right: 40px;
      top: 35px;
    }
  }
  .payment-methos-section {
    // border-bottom: 5px solid var(--ion-color-dark-blue2);
    padding-bottom: 10px;
    .payment-list {
      display: -webkit-box;
      //  overflow-x: auto;
      margin-bottom: 23px;
      .btn-method {
        width: 100px;
        font-size: 18px;
        font-family: 'NotoSans-Medium';
        color: var(--ion-color-white);
        background-color: var(--ion-color-yellow);
        border-radius: 3px;
        margin-right: 16px;
        //width: 100%;
        padding: 9px 0px;
        opacity: 0.6;
        &:last-child {
          margin-right: 0px;
        }
      }
      .active {
        opacity: 1;
      }
      .btn-paypal {
        font-family: 'NotoSans-SemiBold';
      }
    }
    .input-title {
      font-size: 10px;
      font-family: 'NotoSans-Medium';
      color: var(--ion-color-blue);
      margin-bottom: 5px;
      margin-top: 22px;
    }
    ion-input {
      font-size: 14px;
      font-family: 'NotoSans-Medium';
      color: var(--ion-color-blue);
      border: 1px solid var(--ion-color-dark-blue1);
      border-radius: 3px;
      --background: var(--ion-color-dark-blue2);
      --padding-bottom: 17px;
      --padding-top: 16px;
      --padding-start: 16px;
      --padding-end: 16px;
      .circle {
        right: 16px;
        position: absolute;
        border: 1px solid var(--ion-color-blue);
        padding: 3px;
        border-radius: 50%;
        div {
          height: 13px;
          width: 13px;
          border-radius: 50%;
          background: var(--ion-color-yellow);
        }
      }
      .card-type-image {
        position: absolute;
        right: 16px;
        height: 12px;
        width: 38px;
      }
    }
    .date-col {
      padding-right: 22px;
    }
  }
  .note-section {
    ion-item {
      --inner-padding-end: 0;
      --padding-start: 0;
      --ripple-color: transparent;
      ion-label {
        font-size: 18px;
        font-family: 'NotoSans-Medium';
        color: var(--ion-color-blue);
      }
      ion-radio {
        --color: var(--ion-color-blue);
        --color-checked: var(--ion-color-yellow);
        --border-width: 1px;
      }
    }
    ion-textarea {
      font-size: 14px;
      font-family: 'NotoSans-Italic';
      color: var(--ion-color-blue);
      border: 1px solid var(--ion-color-dark-blue1);
      border-radius: 3px;
      margin: 20px 0px;
      --background: var(--ion-color-dark-blue2);
      --padding-top: 12px;
      --padding-start: 11px;
    }
  }
  .detail_div {
    padding-top: 5px;
    .cash_text {
      font-family: 'NotoSans-Medium';
      color: var(--ion-color-blue);
      margin-top: 20px;
      font-size: 20px;
      text-align: center;
    }
    .detail_text {
      font-size: 16px;
      color: var(--ion-color-dark-blue);
      line-height: 20px;
    }
  }
}
ion-footer {
  .btn-general {
    height: 50px;
  }
}

form {
  display: block;

  &.hide {
    display: none;
  }
}
