ion-header {
  ion-toolbar {
    padding-bottom: 35px;
    border-radius: 0px 0px 50px 50px;
    --background: var(--ion-color-yellow);
  }
  ion-searchbar {
    padding-top: 0px;
    margin-top: -30px;
    z-index: 10;
  }
}
ion-content {
  .option-list {
    display: flex;
    margin-top: 8px;
    margin-bottom: 20px;
    .option {
      font-size: 14px;
      font-family: 'NotoSans-Light';
      color: var(--ion-color-white);
      background-color: var(--ion-color-yellow);
      margin-right: 16px;
      padding: 6px 10px 7px;
      border-radius: 20px;
      ion-icon {
        margin: 2px 0px -2px 5px;
      }
    }
  }
  .info-title {
    font-family: 'NotoSans-Medium';
    color: var(--ion-color-blue);
    margin-top: 20px;
  }
  .salon-section {
    margin-bottom: 25px;
    .image-section {
      height: 159px;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        display: block;
        border-radius: 5px 5px 0px 0px;
      }
      .btn-like {
        margin: 0px;
        position: absolute;
        top: 10px;
        right: 10px;
        height: 15px;
        font-size: 10px;
        --color: rgba(0, 0, 0, 0.41);
        --padding-start: 0em;
        --padding-end: 0em;
      }
      .active-like {
        --color: var(--ion-color-red);
      }
      .fix-label {
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-size: 10px;
        font-family: 'NotoSans-Light';
        color: var(--ion-color-white);
        background-color: var(--ion-color-yellow);
        padding: 8px 10px 5px;
        text-transform: uppercase;
        border-radius: 5px 0px 0px 0px;
      }
    }
    .salon-name {
      font-family: 'NotoSans-Medium';
      color: var(--ion-color-blue);
      margin-top: 7px;
      margin-bottom: 3px;
    }
    .salon-address {
      font-size: 14px;
      font-family: 'NotoSans-Light';
      color: var(--ion-color-dark-blue);
      margin: 0px;
    }
    .star-icon {
      color: var(--ion-color-yellow);
      font-size: 15px;
      margin-bottom: -1px;
      margin-right: 10px;
    }
    .everage-star-label,
    .total-rating-label {
      font-size: 14px;
      font-family: 'NotoSans-Medium';
    }
    .everage-star-label {
      color: var(--ion-color-blue);
    }
    .total-rating-label {
      color: var(--ion-color-dark-blue);
    }
    .circle {
      height: 5px;
      width: 5px;
      background-color: var(--ion-color-yellow);
      border-radius: 50%;
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 2px;
    }
  }
  ion-fab-button {
    --background-activated: var(--ion-color-yellow);
  }
}
[no-data] {
  height: 75% !important;
}
